*.org
*.bak
*~
Makefile
Makefile.old
blib/
pm_to_blib
cover_db/
*.gz
core
*.out
tmp/
t/selenium
install/build/
*.log
*.diff
t/htdocs/
t/logs/
t/TEST
t/conf/*.conf
t/conf/*.pm
t/conf/extra.conf.in
tags
db/sql/
db/pf.db
utils/PORT
